<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>addBook</title>
</head>
<body>
    <%include header.ejs %>
    <form action="/doAddEditBook" method="get">
        <input type="hidden" id="id" name="id" value="<%=id%>"/>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="<%=name%>"/>
        </div>
        <div>
            <label for="author">Author</label>
            <input type="text" id="author" name="author" value="<%=author%>"/>
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" id="price" name="price" value="<%=price%>"/>
        </div>
        <div>
            <label for="type">Type</label>
            <input type="text" id="type" name="type" value="<%=type%>"/>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>