<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>allBook</title>
</head>
<body>
    <%include header.ejs %>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Price</th>
            <th>type</th>
            <th>Edit</th>
        </tr>
        <%for(var i=0;i<result.length;i++){%>
            <tr>
                <td><%=result[i].name%></td>
                <td><%=result[i].author%></td>
                <td><%=result[i].price%></td>
                <td><%=result[i].type%></td>
                <td><a href="/addEditBook?id=<%=result[i]._id%>">Edit</a></td>
            </tr>
        <%}%>
    </table>
</body>
</html>